---
import { BUSINESS } from '../config/business';
---

<div class="faq-list">
  {BUSINESS.faq.map((item, i) => (
    <details class="faq-item" open={i === 0}>
      <summary>
        {item.question}
        <span class="faq-toggle" aria-hidden="true">+</span>
      </summary>
      <div class="faq-a">{item.answer}</div>
    </details>
  ))}
</div>
